body {
  height: 100vh;
  background-color: #0e0e0e;
  font-family: 'Poppins', sans-serif;
  overflow: hidden;
  cursor: none;
}

a:hover {
	cursor: none;
}

a:hover .cursor {
	transform: scale(3);
}

.cursor {
    width: 15px;
    height: 15px;
    display: none;
    border: 1px solid white;
    border-radius: 50%;
    position: absolute;
    transition-timing-function: ease-out;
    pointer-events: none;
    z-index: 100;
    background-color: white;
    mix-blend-mode: exclusion;
}

p {
  color: white;
  text-align: center;
  margin-top: 50px;
  font-size: 1.4em;
}

h1 {
    color: white;
    font-size: 22px;
    position: absolute;
    top: 30px;
    left: 50%;
    -webkit-transform: translateX(-50%) translateY(-100%);
        -ms-transform: translateX(-50%) translateY(-100%);
            transform: translateX(-50%) translateY(-100%);
    mix-blend-mode: difference;
    z-index: 10;
}

h3 a {
    color: white;
    font-size: 16px;
    text-decoration: none;
    font-weight: 400;
    text-transform: uppercase;
    position: absolute;
    -webkit-transform: rotate(90deg);
        -ms-transform: rotate(90deg);
            transform: rotate(90deg);
    top: 50%;
    right: 0px;
    z-index: 2;
    mix-blend-mode: difference;
}

h3 a:hover {
    text-decoration: underline;
}

.link {
	display: none;
}

.container {
    height: 100vh;
  display: -ms-grid;
  display: grid;
  place-items: center;
}

.card {
  width: 200px;
  -webkit-perspective:800px;
          perspective:800px;
}

.card__content {
  text-align: center;
  position: relative;
  padding: 100px 30px;
  -webkit-transform-style: preserve-3d;
          transform-style: preserve-3d;
  -webkit-animation: rotate 20s linear infinite;
          animation: rotate 20s linear infinite;
  -webkit-animation-delay: 3.5s;
  animation-delay: 3.5s;
}

@-webkit-keyframes rotate {
  from {
    -webkit-transform: rotateY(0deg);
            transform: rotateY(0deg);
  }

  to {
    -webkit-transform: rotateY(360deg);
            transform: rotateY(360deg);
  }
}

@keyframes rotate {
  from {
    -webkit-transform: rotateY(0deg);
            transform: rotateY(0deg);
  }

  to {
    -webkit-transform: rotateY(360deg);
            transform: rotateY(360deg);
  }
}

.card__front,
.card__back {
  position: absolute;
  border-radius: 10px;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  padding: 30px;
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
  -webkit-transform-style: preserve-3d;
          transform-style: preserve-3d;
  display: -ms-grid;
  display: grid;
  -ms-flex-line-pack: center;
      align-content: center;
}

.card__front {
  background-color:#fff;
  background-blend-mode: overlay;
  color: #333;
}

.card__title {
  font-size: 16px;
  margin-top: 0;
  -webkit-transform: translateZ(9rem);
          transform: translateZ(9rem);
  -webkit-box-ordinal-group: 3;
      -ms-flex-order: 2;
          order: 2;
  text-transform: uppercase;
}

.card__subtitle {
  -webkit-transform: translateZ(6rem);
          transform: translateZ(6rem);
  text-transform: uppercase;
  letter-spacing: 4px;
  font-size: 10px;
  font-weight: 700;
  opacity: .7;
  color: #8b8b8b;
  margin-top: 0;
}

.card__body {
  -webkit-transform: translateZ(6rem);
          transform: translateZ(6rem);
  font-weight: 400;
  font-size: 14px;
  line-height: 1.6;
}

.card__body::before {
    content: "";
    height: 8px;
    width: 8px;
    position: absolute;
    top: 7px;
    margin-left: -20px;
    border-radius: 50%;
    background-color: #ff2840;
}

.card__back {
  -webkit-transform: rotateY(.5turn);
          transform: rotateY(.5turn);
  color: #fff;
  background: #0e0e0e;
}

.overlay {
    position: fixed;
    height: 100%;
    width: 100%;
    bottom: 0;
    left: 0;
    background-color: #fff;
    z-index: 1;
    -webkit-transition: height 1s;
    -o-transition: height 1s;
    transition: height 1s;
    -webkit-transition-timing-function: cubic-bezier(0.91, 0.01, 0.6, 0.99);
	-o-transition-timing-function: cubic-bezier(0.91, 0.01, 0.6, 0.99);
	   transition-timing-function: cubic-bezier(0.91, 0.01, 0.6, 0.99);
}

.social {
    position: absolute;
    left: 50%;
    bottom: 30px;
    z-index: 2;
    mix-blend-mode: difference;
    -webkit-transform: translatex(-50%);
        -ms-transform: translatex(-50%);
            transform: translatex(-50%);
    
}

.social .fab {
    color: white;
    display: inline-block;
    margin-right: 20px;
    width: 20px;
    height: 20px;
}

.social .fab:last-child {
    margin-right: 0;
}

.social .ig {
    background: url(./img/ig.svg) center center no-repeat;
}

.social .li {
    background: url(./img/li.svg) center center no-repeat;
}

.social .dr {
    background: url(./img/dr.svg) center center no-repeat;
}

.social .fab:hover {
	background-size: 19px;
}

@media only screen and (min-width: 600px)  {
	.card {
		width: 400px;
	}
	
	.card__title {
		font-size: 32px;
	}
	
	.card__subtitle {
		font-size: 12px;
		margin-top: 30px;
	}
	
	.card__content {
		padding: 120px 60px;
	}
	
	.social {
		left: 30px;
		top: 50%;
		bottom: auto;
		-webkit-transform: translateY(-50%);
		    -ms-transform: translateY(-50%);
		        transform: translateY(-50%);
	}
	
	.social .fab {
	    color: white;
	    display: block;
	    margin-right: auto;
	    margin-bottom: 20px;
	    width: 20px;
	    height: 20px;
	}
	
	.social .fab:last-child {
	    margin-bottom: 0;
	}
	
	.link {
		display: block;
	}
}

@media only screen and (min-width: 768px)  {
	body {
		cursor: none !important;
	}
	
	.cursor {
		display: block;	
	}
}
